firebase_credentials.json
venv

*.json
*.key
__pycache__/
*.py[cod]
build/
dist/
*.egg-info/
*.log
*.pot
*.pyc
.DS_Store
Thumbs.db
venv/
env/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
docs/_build/